
@{
    ViewBag.Title = "SeansListele";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model List<Sinema.DAL.Seans>

<h2>Seans Listesi</h2>
<hr />

<table class="table table-condensed table-hover">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Seans Saati</th>
            <th scope="col" width="150px"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <th scope="row">@item.ID</th>
                <td>@item.Saat</td>
                <td>
                    @*<a href="/Film/Sil" class="btn btn-danger">Sil</a>
                        <a href="/Film/Guncelle" class="btn btn-secondary",new { id=item.ID}>Güncelle</a>*@
                    @Html.ActionLink("Guncelle", "SeansGuncelle", new { id = item.ID }, new { @class = "btn btn-secondary" })
                    @Html.ActionLink("Sil", "Sil", new { id = item.ID }, new { @class = "btn btn-danger" })
                </td>
            </tr>
        }
    </tbody>

</table>
<br />
<a href="/Seans/SeansEkle" class="btn btn-primary">Yeni Seans Ekle</a>
