
@{
    ViewBag.Title = "SeansEkle";
}



<div class="row">
    <div class="col-md-6">
        <div class="card">
            <form class="form-horizontal" method="post" action="/Seans/SeansEkle">
                <div class="card-body">
                    <h4 class="card-title">Seans Formu</h4>
                    <div class="form-group row">
                        <label for="fname" class="col-sm-3 text-right control-label col-form-label">Seans Saati</label>
                        <div class="col-sm-9">
                            <input type="time" class="form-control" required name="Saat" id="fname" placeholder="Seans saatini giriniz">
                        </div>
                    </div>
                </div>
                <div role="alert">
                    @TempData["Error"]
                </div>
                <div class="border-top">
                    <div class="card-body">
                        <button type="submit" class="btn btn-primary">Kaydet</button>
                    </div>
                </div>
            </form>
        </div>


    </div>

</div>
