
@{
    ViewBag.Title = "Index";
}

<div class="card mb-3" style="margin:20px">
    <img src="~/img/home-cinema-theatre-header.jpg" class="card-img-top img-responsive" style="width:1140px;height:auto"  alt="Responsive image">
    <div class="card-body">
        <h5 class="card-title" >Sinema MVC App</h5>
        <p class="card-text">Sql veri tabanından çekilen veri üzerinde ekleme, güncelleme ve silme işlemleri gerçekleştirilir. Entity framework kullanılmıştır.</p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
</div>

